<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.comunity.mapper.MemberMapper">
  
  	<insert id="join" parameterType="com.comunity.domain.MemberVO">
  		INSERT INTO member_tb(
	  		user_id,
	  		user_nm,
	  		user_nick,
	  		user_pw,
	  		user_email,
	  		addr_no,
	  		addr_front,
	  		addr_back,
	  		phone_no,
	  		email_chk
  		)
  		VALUES(
  			#{user_id},
	  		#{user_nm},
	  		#{user_nick},
	  		#{user_pw},
	  		#{user_email},
	  		#{addr_no},
	  		#{addr_front},
	  		#{addr_back},
	  		#{phone_no},
	  		#{email_chk}
  		)
  	</insert>
  
  	<select id="checkID" resultType="String">
  		SELECT
  			user_id
		FROM
			member_tb
		WHERE
			user_id = #{user_id}
  	</select>
  	
  	<select id="login" resultType="com.comunity.domain.MemberVO">
  		<!-- user_id, user_nm, user_nick, user_pw, user_email, addr_no, addr_front, addr_back, phone_no, email_chk, reg_date, my_post, my_cmt, my_itr -->
  		SELECT
  			user_id,
	  		user_nm,
	  		user_nick,
	  		user_pw,
	  		user_email,
	  		addr_no,
	  		addr_front,
	  		addr_back,
	  		phone_no,
	  		email_chk,
	  		reg_date,
	  		my_post,
	  		my_cmt,
	  		my_itr
  		FROM
  			member_tb
		WHERE
			user_id = #{user_id}
  	</select>
  	
  	<select id="currentPwConfirm" resultType="string">
  		
  		SELECT
  			user_pw
		FROM
			member_tb
		WHERE
			user_id = #{user_id}
			
  	</select>
  	
  	<delete id="regDelete">
  		
  		DELETE FROM
  			member_tb
		WHERE
			user_id = #{user_id}
  		
  	</delete>
  	
  
  </mapper>