<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.comunity.mapper.PostMapper">
  
  	<sql id="criteria">
  		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
  			<foreach collection="typeArr" item="type">
  				<trim prefix="OR">
  					<choose>
  						<when test="type == 'T'.toString()">
  							title like '%' || #{keyword} || '%'
  						</when>
  						<when test="type == 'C'.toString()">
  							content like '%' || #{keyword} || '%'
  						</when>
  						<when test="type == 'W'.toString()">
  							writer like '%' || #{keyword} || '%'
  						</when>
  					</choose>
  				</trim>
  			</foreach>
  		</trim>
  	</sql>
  	
  	<insert id="insert" parameterType="com.comunity.domain.PostVO">
  		INSERT INTO post_tb(pst_no, pst_title, user_id, pst_content, pst_writer)
  		VALUES(seq_post.nextval, #{pst_title}, #{user_id}, #{pst_content}, #{pst_writer})
  	</insert>
  	
  	<select id="get" parameterType="Long" resultType="com.comunity.domain.PostVO">
		SELECT pst_no, pst_title, user_id, pst_content, pst_writer, pst_wr_date, pst_update_date
		FROM post_tb WHERE pst_no = #{pst_no}
	</select>
  	
  	<select id="getList" resultType="com.comunity.domain.PostVO">
  		SELECT pst_no, pst_title, pst_content, pst_writer, pst_wr_date, pst_update_date, pst_hit, pst_itr, pst_cmt_cnt FROM post_tb
  	</select>
  	
  	<update id="update">
  		UPDATE post_tb
  		SET pst_title = #{pst_title}, pst_content = #{pst_content}, pst_update_date = #{pst_update_date}
  		WHERE pst_no = #{pst_no}
  	</update>
  	
  	<delete id="delete">
  		DELETE FROM post_tb WHERE pst_title = #{pst_title}
  	</delete>
  	
  	<select id="getListWithPaging" parameterType="com.comunity.domain.Criteria" resultType="com.comunity.domain.PostVO">
  		<![CDATA[
  			SELECT pst_no, pst_title, pst_content, pst_writer, pst_wr_date, pst_update_date, pst_hit, pst_itr, pst_cmt_cnt
  			FROM (
  				SELECT /*+ index_desc(post_tb pk_post) */ rownum rn, pst_no, pst_title, pst_content, pst_writer, pst_wr_date, pst_update_date, pst_hit, pst_itr, pst_cmt_cnt
  				FROM post_tb
  				WHERE
  		]]>
  		
  		<include refid="criteria"></include>
  		
  		<![CDATA[
  			rownum <= (#{pageNum} * #{amount})
  			)
  			WHRER rn > ((#{pageNum) - 1) * #{amount})
  		]]>
  	</select>
  	
  	<select id="getTotalCount" resultType="int">
  		SELECT count(*) FROM post_tb WHERE
  		
  		<include refid="criteria"></include>
  		
  		pst_no > 0
  	</select>
  
  </mapper>